<a href="https://colab.research.google.com/github/vinit5112/Data-Cleaning/blob/main/data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import the required python liraries
import pandas as pd
import numpy as np

# Read the dataset  
df = pd.read_csv('Harry Potter All movie Chr Dialogs.csv')
df.head()

,movie,chapter,character,dialog
0,Harry Potter and the Philosopher's Stone,Doorstep Delivery,Albus Dumbledore,I should have known that you would be here...P...
1,Harry Potter and the Philosopher's Stone,Doorstep Delivery,Minerva McGonagall,"Good evening, Professor Dumbledore. Are the ru..."
2,Harry Potter and the Philosopher's Stone,Doorstep Delivery,Albus Dumbledore,"I'm afraid so, Professor. The good, and the bad."
3,Harry Potter and the Philosopher's Stone,Doorstep Delivery,Minerva McGonagall,And the boy?
4,Harry Potter and the Philosopher's Stone,Doorstep Delivery,Albus Dumbledore,Hagrid is bringing him.

In [ ]:
# In our dataset we have some unwanted columns like (movie,chapter,character,dialog).
# we can only using the character and dialog columns. For that we have to remove movie and chapter columns.
df1 = df.drop(['movie'],axis=1)
df2 = df1.drop(['chapter'],axis=1)
df2.head()

            character                                             dialog
0    Albus Dumbledore  I should have known that you would be here...P...
1  Minerva McGonagall  Good evening, Professor Dumbledore. Are the ru...
2    Albus Dumbledore   I'm afraid so, Professor. The good, and the bad.
3  Minerva McGonagall                                       And the boy?
4    Albus Dumbledore                            Hagrid is bringing him.

In [ ]:
# Now we are check that any null value are there in datsset.
df2.isnull()

      character  dialog
0         False   False
1         False   False
2         False   False
3         False   False
4         False   False
...         ...     ...
7441      False   False
7442      False   False
7443      False   False
7444      False   False
7445      False   False

[7446 rows x 2 columns]

In [ ]:
# By using the sum() method it is return the number of null value present in each columns 
df2.isnull().sum()

character    0
dialog       1
dtype: int64

In [ ]:
# Find the row number that have null values present
df3 = pd.isnull(df2["dialog"])
df2[df3]

     character dialog
1421  Students    NaN

In [ ]:
# remove the row that have null value
df2 = df2.drop(1421)

In [ ]:
# Now check any null value present or not 
df2.isnull().sum()

character    0
dialog       0
dtype: int64

In [ ]:
# In character column we have only Harry Potter dialogs. So we can remove all other dialogs.
df3 =  df2[df2['character'] == 'Harry Potter']
df3

         character                                             dialog
21    Harry Potter                                 Yes, Aunt Petunia.
24    Harry Potter                                 Yes, Uncle Vernon.
37    Harry Potter                                       He's asleep!
39    Harry Potter  Sorry about him. He doesn't understand what it...
43    Harry Potter                                           Anytime.
...            ...                                                ...
7437  Harry Potter                                               Yes?
7439  Harry Potter  Albus Severus Potter. You were named after two...
7441  Harry Potter  Then Slytherin House will have gained a wonder...
7443  Harry Potter                                            Really.
7444  Harry Potter                                             Ready?

[1922 rows x 2 columns]

In [ ]:
# Finally our data is clean so we can save that clean data in new csv file. 
df3.to_csv('harry_rows.csv', index=False)

In [ ]:
#Merge to columns 
df3['newcol'] = df2['character'] +" : " +df2['dialog']
df3

<ipython-input-20-ff51ea7cbacf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['newcol'] = df2['character'] +" : " +df2['dialog']

,character,dialog,newcol
21,Harry Potter,"Yes, Aunt Petunia.","Harry Potter : Yes, Aunt Petunia."
24,Harry Potter,"Yes, Uncle Vernon.","Harry Potter : Yes, Uncle Vernon."
37,Harry Potter,He's asleep!,Harry Potter : He's asleep!
39,Harry Potter,Sorry about him. He doesn't understand what it...,Harry Potter : Sorry about him. He doesn't und...
43,Harry Potter,Anytime.,Harry Potter : Anytime.
...,...,...,...
7437,Harry Potter,Yes?,Harry Potter : Yes?
7439,Harry Potter,Albus Severus Potter. You were named after two...,Harry Potter : Albus Severus Potter. You were ...
7441,Harry Potter,Then Slytherin House will have gained a wonder...,Harry Potter : Then Slytherin House will have ...
7443,Harry Potter,Really.,Harry Potter : Really.
7444,Harry Potter,Ready?,Harry Potter : Ready?

In [ ]:
# After merge two column remove the character and dialog columns
df4 = df3.drop(['character','dialog'],axis='columns')
df4

                                                 newcol
21                    Harry Potter : Yes, Aunt Petunia.
24                    Harry Potter : Yes, Uncle Vernon.
37                          Harry Potter : He's asleep!
39    Harry Potter : Sorry about him. He doesn't und...
43                              Harry Potter : Anytime.
...                                                 ...
7437                                Harry Potter : Yes?
7439  Harry Potter : Albus Severus Potter. You were ...
7441  Harry Potter : Then Slytherin House will have ...
7443                             Harry Potter : Really.
7444                              Harry Potter : Ready?

[1922 rows x 1 columns]

In [ ]:
# Save to the new csv file
df3.to_csv('harry_rows_final.csv', index=False)